body .gist .highlight {
    background: #293134;
}
body .gist .blob-num,
body .gist .blob-code-inner,
body .gist .pl-ent,
body .gist .pl-s1,
body .gist .pl-s1 .pl-s2,
body .gist .pl-smi,
body .gist .pl-smp,
body .gist .pl-stj,
body .gist .pl-vo,
body .gist .pl-vpf {
    color: #e0e2e4;
}
body .gist .pl-c,
body .gist .pl-c span {
    color: #66747b;
    font-style: italic;
}
body .gist .pl-mb {
    color: #ec7600;
    font-weight: 700;
}
body .gist .pl-mh .pl-en {
    color: #66747b;
    font-weight: 700;
}
body .gist .pl-mi {
    color: #93c763;
    font-style: italic;
}
body .gist .pl-sc {
    color: #96989a;
}
body .gist .pl-st {
    color: #da4236;
}
body .gist .pl-c1>.pl-c1 {
    color: #678cb1;
}
body .gist .pl-c1,
body .gist .pl-sr .pl-cce {
    color: #ffcd22;
}
body .gist .pl-e,
body .gist .pl-k,
body .gist .pl-mdh,
body .gist .pl-mdr,
body .gist .pl-ml,
body .gist .pl-mm,
body .gist .pl-mo,
body .gist .pl-mp,
body .gist .pl-mr,
body .gist .pl-ms,
body .gist .pl-s1 .pl-v,
body .gist .pl-s3 {
    color: #93c763;
}
body .gist .pl-en,
body .gist .pl-v {
    color: #65acf3;
}
body .gist .pl-mh,
body .gist .pl-mq {
    color: #448eb4;
}
body .gist .pl-pds,
body .gist .pl-s,
body .gist .pl-s1 .pl-pse .pl-s2,
body .gist .pl-sv {
    color: #ec7600;
}
body .gist .pl-sr,
body .gist .pl-sr .pl-sra,
body .gist .pl-sr .pl-sre,
body .gist .pl-src {
    color: #d39745;
}
body .gist .pl-mi1,
body .gist .pl-mdht {
    color: #e0e2e4;
    background: rgba(0, 64, 0, .5);
}
body .gist .pl-md,
body .gist .pl-mdhf,
body .gist .pl-id,
body .gist .pl-ii {
    color: #e0e2e4;
    background: rgba(64, 0, 0, .5);
}